
services:
    # Backend Application (PHP-FPM)
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        image: lara-api-backend
        container_name: lara_backend
        restart: unless-stopped
        tty: true
        environment:
            SERVICE_NAME: backend
            SERVICE_TAGS: dev
        env_file:
            - ./backend/.env.docker
        working_dir: /var/www
        volumes:
            - ./backend:/var/www
        networks:
            - app-network

    # Queue Worker
    queue:
        build:
            context: ./backend
            dockerfile: Dockerfile
        image: lara-api-backend
        container_name: lara_queue
        restart: unless-stopped
        env_file:
            - ./backend/.env.docker
        working_dir: /var/www
        volumes:
            - ./backend:/var/www
        command: php artisan queue:work --tries=3
        networks:
            - app-network
        depends_on:
            - backend
            - db

    # Nginx Web Server
    nginx:
        image: nginx:alpine
        container_name: lara_nginx
        restart: unless-stopped
        tty: true
        ports:
            - "8000:80"
        volumes:
            - ./backend:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - app-network
        depends_on:
            - backend

    # Database
    db:
        image: mysql:8.0
        container_name: lara_mysql
        restart: unless-stopped
        tty: true
        ports:
            - "3307:3306"
        environment:
            MYSQL_DATABASE: backend-api-vue
            MYSQL_USER: eabms_db
            MYSQL_PASSWORD: secret
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - dbdata:/var/lib/mysql
        networks:
            - app-network

    # phpMyAdmin (database UI)
    phpmyadmin:
        image: phpmyadmin/phpmyadmin:latest
        container_name: lara_phpmyadmin
        restart: unless-stopped
        depends_on:
            - db
        environment:
            PMA_HOST: db
            PMA_PORT: 3306
            UPLOAD_LIMIT: 64M
        ports:
            - "8081:80"
        networks:
            - app-network

    # Frontend (Vue)
    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        image: lara-api-frontend
        container_name: lara_frontend
        restart: unless-stopped
        tty: true
        ports:
            - "8080:8080"
        env_file:
            - ./frontend/.env.docker
        volumes:
            - ./frontend:/app
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    dbdata:
        driver: local
